<header>

    <div class="headerUnderContainer">

        <a href="#startID">
            <img src="assets/img/logo.png" alt="">
        </a>

        <div class="navbar d-none">

            <a href="#startID">Start</a>
            <a href="#skillID">Skills</a>
            <a href="#myWorkID">Portfolio</a>
            <a href="#aboutMe">About</a>
            <a href="#footerID">Contact</a>

        </div>

        <div>

            <button>
              <mat-icon aria-hidden="false" aria-label="" fontIcon="menu"></mat-icon>
            </button>
            <div class="responsiv-menu">
                <button mat-menu-item><a href="#startID">Start</a></button>
                <button mat-menu-item><a href="#skillID">Skills</a></button>
                <button mat-menu-item><a href="#myWorkID">Portfolio</a></button>
                <button mat-menu-item><a href="#aboutMe">About</a></button>
                <button mat-menu-item><a href="#footerID">Contact</a></button>
            </div>

        </div>
    </div>

</header>
