#footerID {
    height: 200px;
    background: white;
}

.footerwidth {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.soziallinks {
    display: flex;
    gap: 30px;
}

.soziallinks img {
    height: 50px;
}
