#footerID {
  height: 200px;
  background: white;
  z-index: 2;

  @media screen and (max-width: 550px) {
    height: 150px;
  }
}

.footerwidth {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    color: black;
    @media screen and (max-width: 450px) {
      font-size: 14px;
    }
  }

  span {
    cursor: pointer;

    u {
      text-decoration: none;
    }

    @media screen and (max-width: 450px) {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 1032px) {
    padding: 16px;
  }
  @media screen and (max-width: 450px) {
    padding: 8px;
  }

  @media screen and (max-width: 550px) {
    flex-direction: column-reverse;
  }

  div {
    &:first-child {
      gap: 16px;
    }
  }
}

.soziallinks {
  display: flex;
  gap: 30px;
}

.soziallinks img {
  height: 50px;
}
