<footer id="footerID" class="overContainer">
  <div class="footerwidth widthContainer ">
    <div class="d-flex f-dire-colum">
      <span ><u routerLink="/imprint">Imprint</u> - <u routerLink="/data-protection">Legal Notice</u></span>
      <a href="#"
        onclick="document.cookie='cookiebar=;expires=Thu, 01 Jan 1970 00:00:01 GMT;path=/'; setupCookieBar(); return false;">Click
        here to revoke the Cookie consent</a>
    </div>

    <div class="soziallinks">
      <a href="https://www.linkedin.com/in/tony-schroeder-0804b3249/" target="_blank"> <img src="assets/img/linkedin-box-fill.png" alt=""> </a>
      <a href="https://github.com/TonySchroeder" target="_blank" target="_blank"> <img src="assets/img/github-fill.png" alt=""> </a>
      <a href="https://www.xing.com/profile/Tony_Schroeder10/cv" target="_blank"> <img src="assets/img/xing-fill.png" alt=""> </a>
    </div>
  </div>
</footer>
