<div class="overContainer">
  <div id="aboutMe" class="widthContainer ">

    <h2>About Me</h2>

<div class="mytext">
  <span>
    I am 35 years old and an aircraft painter. Worked at Airbus or its supplier for the last few years. During the pandemic I decided to change my career and work on software development projects. So in the last months I developed a lot of front-end projects from simple websites to complex web apps. Now I am looking for new challenges in front-end web development.
  </span>
</div>

    <div class="abouttext">

      <div data-aos="flip-left" data-aos-duration="500">
        <i><img src="assets/img/walk-line.png" alt=""></i>
        <span>
          Apprenticeship as a vehicle painter and employment as a journeyman in the paint center Schwerin, from 2004 to
          2008.
        </span>
      </div>

      <div data-aos="flip-left" data-aos-duration="800">
        <i><img src="assets/img/flight-takeoff-line.png" alt=""></i>
        <span>
          Further training as an aircraft painter and employment as a time worker at Airbus in Hamburg, from 2009 to
          2018.
          Employment at Safran Nacelle Hamburg, from 2018 until today.
        </span>
      </div>

      <div data-aos="flip-left" data-aos-duration="1100">
        <i><img src="assets/img/heart-line.png" alt=""></i>
        <span>
          Decision to train as a Frond end developer at the developer Academy, starting March 2022.
        </span>
      </div>

      <div data-aos="flip-left" data-aos-duration="1400">
        <i><img src="assets/img/search-line.png" alt=""></i>
        <span>
          Looking for a new job as developer, new challenges and an interesting team.
        </span>
      </div>

    </div>

  </div>
</div>
