<div class="overContainer">
    <div id="aboutMe" class="widthContainer ">
        <h2>About Me</h2>
        <div class="abouttext">
            <div data-aos="flip-left" data-aos-duration="500">
                <i><img src="assets/img/walk-line.png" alt=""></i>
                <span>
                  Apprenticeship as a vehicle painter and employment as ajourneyman in the paint center Schwerin, from 2004 to 2008.
                </span>
            </div>
            <div data-aos="flip-left" data-aos-duration="1500">
                <i><img src="assets/img/flight-takeoff-line.png" alt=""></i>
                <span>
                  Further training as an aircraft painter and employment as a time worker at Airbus in Hamburg, from 2009 to 2018.
                  Employment at Safran Nacelle Hamburg, from 2018 until today.
                </span>
            </div>
            <div data-aos="flip-left" data-aos-duration="2500">
                <i><img src="assets/img/heart-line.png" alt=""></i>
                <span>
                  Decision to train as a Frond end developer at the developer Academy, starting March 2022.
                </span>
            </div>
            <div data-aos="flip-left" data-aos-duration="3000">
                <i><img src="assets/img/search-line.png" alt=""></i>
                <span>
                  looking for a new job as developer, new challenges and an interesting team.
                </span>
            </div>
        </div>
    </div>
</div>
