#aboutMe {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    @media screen and (max-width: 1032px) {
        padding: 0 16px;
    }
}

#aboutMe h2 {
    z-index: 1;
    margin-top: 50px;
    margin-bottom: 100px;
}

.abouttext {
  position: relative;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    @media screen and (max-width: 832px) {
        padding: 0 16px;
        flex-direction: column;
        align-items: center;
    }
}

.abouttext div {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @media screen and (max-width: 832px) {
        margin-bottom: 16px;
        width: 80%;
    }
    @media screen and (max-width: 400px) {
        width: 100%;
    }
}

.abouttext i {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: #5221e6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    @media screen and (max-width: 832px) {
        margin-bottom: 16px;
    }
}

.abouttext img {
    height: 40px;
    width: 40px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(165deg) brightness(108%) contrast(100%);
}

.cursor{
  z-index: 25;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  // transition: 100ms;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

i:hover ~ .cursor{

      background: aqua;

  }

