<div class="overContainer">
  <div id="aboutMe" class="widthContainer ">

    <h2>About Me</h2>

    <div class="mytext">
      <img class="myimage" src="assets/img/transparent-smal.png" alt="">
      <span>
        As a passionate SciFi fan and gamer, I have always been interested in the latest technical developments. In
        early 2022 I decided to start my web development journey with a few courses and small projects. Since I quickly
        realized that I enjoy web programming, I decided to attend a professional training course to become a web
        developer in Germany. I developed irrepressible motivation there and made progress very quickly. Creating
        realistic projects daily as well as getting code reviews from experienced developers contributed to my fast
        learning, so I developed a lot of front-end applications in the last few months. I'm looking forward to building
        on my experience and starting my career in IT in a junior developer position, developing the really cool stuff.
<br><br>
      </span>
    </div>

    <div class="abouttext">

      <div data-aos="flip-left" data-aos-duration="500">
        <i><img src="assets/img/walk-line.png" alt=""></i>
        <h3>I STARTED</h3>
        <span>
          in the automotive and industrial painting sector. I learned an incredible amount here and don't regret it for a second. But something kept telling me that it wasn't 100% right for me. So after an intensive search, I came to programming. Here I finally feel at home.
        </span>
      </div>

      <div data-aos="flip-left" data-aos-duration="1400">
        <i><img src="assets/img/search-line.png" alt=""></i>
        <h3>MY SEARCH</h3>
        <span>
          it is to develop myself quickly in order to expand my skills. This not only applies to programming, but also to my personality.
        </span>
      </div>

      <div data-aos="flip-left" data-aos-duration="1100">
        <i><img src="assets/img/heart-line.png" alt=""></i>
        <h3>MY PASSION</h3>
        <span>
          has always been SciFi and video games. I always dreamed of being a part of the latest technology and software. This thought never left me and I started programming.
        </span>
      </div>

      <div data-aos="flip-left" data-aos-duration="800">
        <i><img src="assets/img/flight-takeoff-line.png" alt=""></i>
        <h3>MY GOAL</h3>
        <span>
          has always been to become really good at something in order to make the world a little better. Helping companies and customers with the development of applications to achieve their goals is a huge motivator for me.
        </span>
      </div>

    </div>

  </div>
</div>
