<div class="overContainer">
    <div class="myWork widthContainer">
        <h2>My Work</h2>
        <div id="cartID" class="cartContainer" (mouseleave)="setFalse()" (mousemove)="mouseMoved($event)">
            <div id="innerCard" class="cart">
                <div class="cartText">
                    <h3>The Curse of Money Island</h3>
                    <button class="cartButton">Open</button>
                </div>
                <div class="imageContainer">
                    <div class="innerImageContainer">
                        <img class="bgImage" src="assets/img/monkeyBG.png" alt="">
                        <img id="flagID" class="flag" src="assets/img/flage.png" alt="">
                    </div>
                </div>
            </div>
        </div>


        <div id="cartID2" class="cartContainer" (mouseleave)="setFalse() " (mousemove)="mouseMoved($event) ">
            <div id="innerCard2 " class="cart ">
                <div class="cartText ">
                    <h3>The Curse of Money Island</h3>
                    <button class="cartButton ">Open</button>
                </div>
                <div class="imageContainer ">
                    <div class="innerImageContainer ">
                        <img class="bgImage " src="assets/img/monkeyBG.png " alt=" ">
                        <img id="ringID " class="flag " src="assets/img/flage.png " alt=" ">
                    </div>
                </div>
            </div>
        </div>


        <div id="cartID3 " class="cartContainer " (mouseleave)="setFalse() " (mousemove)="mouseMoved($event) ">
            <div id="innerCard3 " class="cart ">
                <div class="cartText ">
                    <h3>The Curse of Money Island</h3>
                    <button class="cartButton ">Open</button>
                </div>
                <div class="imageContainer ">
                    <div class="innerImageContainer ">
                        <img class="bgImage " src="assets/img/monkeyBG.png " alt=" ">
                        <img id="xID " class="flag " src="assets/img/flage.png " alt=" ">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
