.myWork {
  // min-height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.myWork h2 {
  z-index: 1;
  margin: 200px 0 150px 0;
}

h3 {
  text-decoration: underline;
}

.select-container {
  z-index: 2;
  height: 100px;
  width: 260px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  margin-bottom: 50px;

  .firstBn {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  button {
    background: #5221e6;
    // border: 1px solid white;
    border: none;
    color: white;
    height: 45px;
    font-size: 16px;
    transition: 155ms;
    cursor: pointer;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);


    &:hover {
      transform: scale(1.1);
      transition: 155ms;
    }
  }

  div {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    button {
      width: 130px;

      &:first-child {
        border-bottom-left-radius: 10px;
      }

      &:last-child {
        border-bottom-right-radius: 10px;
      }

    }
  }
}

.cartContainer {
  margin-top: 50px;
  height: 400px;
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  // transform-style: preserve-3d;

  @media screen and (max-width: 900px) {
    height: 450px;
    width: 470px;
  }

  @media screen and (max-width: 450px) {
    height: 380px;
    width: 290px;
  }

  &:nth-child(even) .cart {
    @media screen and (min-width: 901px) {
      flex-direction: row-reverse;
    }
  }
}

.cart {
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 20px;
  height: 300px;
  width: 800px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);

  @media screen and (max-width: 900px) {
    flex-direction: column-reverse;
    height: 350px;
    width: 370px;
  }

  @media screen and (max-width: 450px) {
    height: 350px;
    width: 260px;
  }

}

.cartText {
  text-align: center;
  width: 38%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  padding: 10px;
  box-sizing: border-box;

  h3 {
    margin-top: 0;

  }

  .instruction {
    text-decoration: none !important;

    @media screen and (max-width: 900px) {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 900px) {
    width: 100%;
    gap: 5px;
    justify-content: space-between;
    padding-bottom: 10px;
  }
}

.imageContainer {
  width: 62%;
  padding: 10px;

  @media screen and (max-width: 900px) {
    width: 100%;
    box-sizing: border-box;

  }
}

.innerImageContainer {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.flag {
  z-index: 2;
  height: 100%;
  width: 100%;
  transform: translateZ(20px) scale(1);
}

.gap10 {
  gap: 10px;
}

.cartButton {
  padding: 8px;
  width: 100px;
  text-align: center;
  background: #5221e6;
  color: white;
  border: 2px solid #5221e6;
  // border-radius: 20px;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;

  button {
    background-color: transparent;
    color: white;
    text-decoration: none;
    border: none;
    font-size: 18px;
  }

  &:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 1px solid white;
  }

  &:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: 1px solid white;
  }

}
