#overContactContainer {
    display: flex;
    justify-content: center;
}

#contact {
    position: relative;
    width: 0px;
    // width: auto;
    // background: aqua;
    position: fixed;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.contactUnderContainer {
    height: 700px;
    width: 550px;
    z-index: 15;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.backArrow {
    position: absolute;
    top: 50px;
    right: 50px;
    height: 35px;
    height: 35px;
    animation: slideright 1s infinite;
}

@keyframes slideright {
    0% {
        opacity: 0.2;
        transform: translateX(0px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
        transform: translateX(-20px);
    }
}

#nameID {
    z-index: 15;
    width: 400px;
    font-size: 20px;
    border: none;
    background: none;
    border-bottom: 2px solid #5221e6;
    color: white;
}

#emailID {
    z-index: 15;
    width: 400px;
    font-size: 20px;
    border: none;
    background: none;
    border-bottom: 2px solid #5221e6;
    color: white;
}

#messageID {
    z-index: 15;
    width: 400px;
    font-size: 20px;
    border: none;
    background: none;
    border-bottom: 2px solid #5221e6;
    color: white;
    resize: none;
}

.contactButton {
    z-index: 15;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 350px;
    padding: 8px 8px;
    background: white;
    color: #5221e6;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

#nameID:focus {
    outline: #5221e6;
}

#emailID:focus {
    outline: #5221e6;
}

#messageID:focus {
    outline: #5221e6;
}
