<div id="contactMe" class="overContainer">
  <div data-aos="fade-right" data-aos-easing="linear" data-aos-duration="500" data-aos-duration="1000" id="contactID"
    class="widthContainer ">
    <div class="purpleBG">
      <div id="leftBGID" class="leftBG"></div>

      <div class="textFooterContainer">
        <h1>Contact me.</h1>
        <span>To get in touch with me and explore  common possibilities, just use this form or email me directly at <a class="mail-link"
            href="mailto:mail@tony.schroeder.de">mail@tony.schroeder.de</a>.</span>
      </div>

      <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" ngNativeValidate novalidate class="contactUnderContainer">
        <div class="inputfiels">
          <span>Name</span><br><br>
          <input id="name" name="name" ngModel #name="ngModel" required>
        </div>

        <div class="inputfiels">
          <span>Email address</span><br><br>
          <input id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" type="email" name="email" ngModel #email="ngModel" required>
        </div>

        <div class="inputfiels">
          <span>Message</span><br><br>
          <textarea (focus)="addHight()" [class.biggerInput]="biggerInput" id="message" name="message" ngModel rows="3"
            required></textarea>
        </div>

        <button [disabled]="!myForm.valid" class="contactButton">Send</button>

        <div *ngIf="submitComplete" class="reportBox">
          <p>{{ submitReport }}</p>
          <button (click)="closeCard()">OK</button>
        </div>

      </form>

    </div>
  </div>
</div>
