#contactID {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    background: #5221e6;
    border-top-right-radius: 150px;
    min-height: 77vh;
}

.purpleBG {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftBG {
    min-height: 77vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: -2000px;
    width: 2000px;
    background: #5221e6;
}

.textFooterContainer {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

// .textFooterContainer span {
//     padding: 0 50px;
// }
.contactUnderContainer {
    height: 600px;
    width: 550px;
    z-index: 15;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#nameID {
    z-index: 15;
    width: 400px;
    font-size: 20px;
    border: none;
    background: none;
    border-bottom: 2px solid white;
    color: white;
    background: #5221e6;
}

#emailID {
    z-index: 15;
    width: 400px;
    font-size: 20px;
    border: none;
    background: none;
    border-bottom: 2px solid white;
    color: white;
    background: #5221e6;
}

#messageID {
    z-index: 15;
    width: 400px;
    font-size: 20px;
    border: none;
    background: none;
    border-bottom: 2px solid white;
    color: white;
    resize: none;
    background: #5221e6;
}

.contactButton {
    z-index: 15;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 350px;
    padding: 8px 8px;
    background: white;
    color: #5221e6;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

#nameID:focus {
    outline: #5221e6;
    background: #5221e6;
}

#emailID:focus {
    outline: #5221e6;
    background: #5221e6;
}

#messageID:focus {
    outline: #5221e6;
    background: #5221e6;
}
