<div id="skillBeginn" class="bg overContainer ">

  <div id="skillID" class="skills widthContainer p-relativ">

    <h2>Skills</h2>
    <!-- skill container -->
    <div class="iconContainer a-item-center">

      <div class="d-flex ">
        <i class="boxshadow" id="left_skill_out" data-aos="fade-right" data-aos-duration="1500">
          <span>
            <img src="assets/img/htmlcss.png" alt="">
          </span>
          <u>HTML / CSS</u>
        </i>
      </div>

      <div class="d-flex f-dire-colum ">
        <i class="boxshadow" data-aos="fade-down-right" data-aos-duration="1500">
          <span>
            <img src="assets/img/javascript.png" alt="">
          </span>
          <u>Java script</u>
        </i>

        <i class="boxshadow" id="left_skill_in" data-aos="fade-right" data-aos-duration="1500">
          <span>
            <img src="assets/img/htmlcss.png" alt="">
          </span>
          <u>HTML / CSS</u>
        </i>

        <i class="boxshadow" data-aos="fade-up-right" data-aos-duration="1500">
          <span>
            <img src="assets/img/typescript.png" alt="">
          </span>
          <u>TypeScript</u>
        </i>
      </div>

      <div class="d-flex f-dire-colum">
        <i class="boxshadow" data-aos="fade-down" data-aos-duration="1500">
          <span class="iconC">
            <img src="assets/img/angular.png" alt="">
          </span>
          <u class="iconC">Angular</u>
        </i>
        <i class="boxshadow" data-aos="zoom-in" data-aos-duration="1500">
          <span>
            <img src="assets/img/api.png" alt="">
          </span>
          <u>Rest API</u>
        </i>
        <i class="boxshadow" data-aos="fade-up" data-aos-duration="1500">
          <span>
            <img src="assets/img/firebase.svg" alt="">
          </span>
          <u>Google Firebase</u>
        </i>
      </div>

      <div class="d-flex f-dire-colum">
        <i class="boxshadow" data-aos="fade-down-left" data-aos-duration="1500">
          <span>
            <img src="assets/img/scrum.png" alt="">
          </span>
          <u>SCRUM</u>
        </i>

        <i class="boxshadow" id="right_skill_in" data-aos="fade-left" data-aos-duration="1500">
          <span>
            <img src="assets/img/Git.png" alt="">
          </span>
          <u>Git</u>
        </i>

        <i class="boxshadow" data-aos="fade-up-left" data-aos-duration="1500">
          <span>
            <img src="assets/img/test-automation.png" alt="">
          </span>
          <u>Test automation</u>
        </i>
      </div>

      <div class="d-flex">
        <i class="boxshadow" id="right_skill_out" data-aos="fade-left" data-aos-duration="1500">
          <span>
            <img src="assets/img/Git.png" alt="">
          </span>
          <u>Git</u>
        </i>
      </div>

    </div>
    <!-- responsiv skill container -->
    <div class="iconContainer-responiv a-item-center">

      <div class="d-flex f-dire-colum">
        <i class="boxshadow" data-aos="fade-down-right" data-aos-duration="1500">
          <span>
            <img src="assets/img/javascript.png" alt="">
          </span>
          <u>Java script</u>
        </i>

        <i class="boxshadow" data-aos="fade-down-right" data-aos-duration="1500">
          <span>
            <img src="assets/img/htmlcss.png" alt="">
          </span>
          <u>HTML / CSS</u>
        </i>

        <i class="boxshadow" data-aos="fade-right" data-aos-duration="1500">
          <span>
            <img src="assets/img/typescript.png" alt="">
          </span>
          <u>TypeScript</u>
        </i>
        <i class="boxshadow" data-aos="fade-up-right" data-aos-duration="1500">
          <span>
            <img src="assets/img/test-automation.png" alt="">
          </span>
          <u>Test automation</u>
        </i>
        <i class="boxshadow" data-aos="fade-up-right" data-aos-duration="1500">
          <span>
            <img src="assets/img/Git.png" alt="">
          </span>
          <u>Git</u>
        </i>
      </div>

      <div class="d-flex f-dire-colum">
        <i class="boxshadow" data-aos="fade-down-left" data-aos-duration="1500">
          <span class="iconC">
            <img src="assets/img/angular.png" alt="">
          </span>
          <u class="iconC">Angular</u>
        </i>
        <i class="boxshadow" data-aos="fade-left" data-aos-duration="1500">
          <span>
            <img src="assets/img/api.png" alt="">
          </span>
          <u>Rest API</u>
        </i>
        <i class="boxshadow" data-aos="fade-left" data-aos-duration="1500">
          <span>
            <img src="assets/img/firebase.svg" alt="">
          </span>
          <u>Google Firebase</u>
        </i>
        <i class="boxshadow" data-aos="fade-up-left" data-aos-duration="1500">
          <span>
            <img src="assets/img/scrum.png" alt="">
          </span>
          <u>SCRUM</u>
        </i>
      </div>

    </div>

  </div>

</div>
