<div class="overContainer ">

    <div id="skillID" class="skills widthContainer p-relativ">
        <div id="skillbgForImgID" class="skillbgForImg ">
            <img src="assets/img/transparent-Original2.png" alt="">
        </div>
        <h2>Skills</h2>
        <div class="iconContainer d-flex a-item-center">
            <div class="d-flex">
                <i data-aos="fade-right">
                <span >
                  <img src="assets/img/html-css.png" alt="">
                </span>
                <u>HTML / CSS</u>
              </i>
            </div>
            <div class="d-flex f-dire-colum">
                <i data-aos="fade-down-right">
                <span>
                  <img src="assets/img/java script.png" alt="">
                </span>
                <u>Java script</u>
              </i>
                <i data-aos="fade-up-right">
                  <span>
                    <img class="purplefilter" src="assets/img/design-thinking.png" alt="">
                  </span>
                  <u>Design Thinking</u>
                </i>
            </div>
            <div class="d-flex f-dire-colum">
                <i data-aos="fade-down">
                <span class="iconC">
                  <img src="assets/img/angular.png" alt="">
                </span>
                <u class="iconC">Angular</u>
              </i>
                <i data-aos="zoom-in">
                  <span>
                    <img src="assets/img/rest-api.png" alt="">
                  </span>
                  <u>Rest API</u>
                </i>
                <i data-aos="fade-up">
                  <span>
                    <img src="assets/img/database.png" alt="">
                  </span>
                  <u>Databases</u>
                </i>
            </div>
            <div class="d-flex f-dire-colum">
                <i data-aos="fade-down-left">
                <span>
                  <img src="assets/img/scrum.png" alt="">
                </span>
                <u>SCRUM</u>
              </i>
                <i data-aos="fade-up-left">
                  <span>
                    <img src="assets/img/test-automation.png" alt="">
                  </span>
                  <u>Test automation</u>
                </i>
            </div>
            <div class="d-flex">
                <i data-aos="fade-left">
                <span>
                  <img src="assets/img/Git.png" alt="">
                </span>
                <u>Git</u>
              </i>
            </div>
        </div>
    </div>
</div>
