#startID {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.welcome {
    height: calc(90vh - 50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcomeText {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    color: white;
}

.welcomeText u {
    text-decoration: none;
    color: #5221e6;
}

.welcomeContact {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

#underWContact {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 350px;
    padding: 8px 8px;
    background: white;
    color: #5221e6;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#talkID {
    text-decoration: none;
    font-size: 28px;
    transition: all 0.5s ease;
}

#mailID {
    transition: all 0.5s ease;
}

#mailID img {
    filter: invert(17%) sepia(61%) saturate(6917%) hue-rotate(255deg) brightness(87%) contrast(109%);
}

.rightArrow {
    position: absolute;
    right: 10px;
    height: 35px;
    filter: invert(17%) sepia(61%) saturate(6917%) hue-rotate(255deg) brightness(87%) contrast(109%);
    animation: slideleft 1s infinite;
}

@keyframes slideleft {
    0% {
        opacity: 0.2;
        transform: translateX(-20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
        transform: translateX(0px);
    }
}

.welcomeImg {
    position: relative;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.bgForImg {
    position: absolute;
    height: 500px;
    width: 500px;
    background-color: #5221e6;
    border-radius: 50%;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.welcomeImg img {
    z-index: 2;
    height: 500px;
}
