<div id="startID" class="overContainer">
    <div class="over-welcome widthContainer">

      <div class="welcome">

        <!-- welcome text -->
        <div id="welcomeTextID" class="welcomeText">
          <span><i id="iText0">I'm </i><u>Tony</u><i id="iText1"> Schroeder.</i></span>
          <span><i id="iText2">A Front end Developer</i></span>
          <span><i id="iText3">based in Germany</i></span>
          <div id="wContactID" class="welcomeContact">
            <a href="#contactMe" id="underWContact">
              <a id="talkID" href="#contactMe">Get in Contact</a>
              <a class="d-none" id="mailID" href="#contactMe"><img src="assets/img/mail.png" alt=""></a>
              <img id="arrowRightID" class="rightArrow" src="assets/img/arrow-right.png" alt="">
            </a>
          </div>
        </div>
        <!-- profile picture -->
        <div id="welcomeImgID" class="welcomeImg">
          <div id="bgID" class="bgForImg"></div>
          <img src="assets/img/transparent-Original2.png" alt="">
        </div>

      </div>

      <a href="#skillID" class="arrow-down">
        <img src="assets/img/arrow-down.png" alt="">
      </a>

    </div>
</div>
