body {
    margin: 0;
    padding: 0;
    background: rgb(31, 31, 31);
    background: linear-gradient(90deg, rgba(31, 31, 31, 1) 25%, rgba(7, 0, 13, 1) 100%);
    font-family: 'Russo One', sans-serif;
    letter-spacing: 2px;
    scroll-behavior: smooth;
    // perspective: 500px;
}


/* russo-one-regular - latin */

@font-face {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/russo-one-v14-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/russo-one-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/russo-one-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/russo-one-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/russo-one-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/russo-one-v14-latin-regular.svg#RussoOne') format('svg');
    /* Legacy iOS */
}

.overContainer {
    display: flex;
    justify-content: center;
}

.widthContainer {
    max-width: 1000px;
    width: 100%;
}

.bg_aqua {
    background: aqua;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.f-dire-colum {
    flex-direction: column;
}

.a-item-center {
    align-items: center;
}
