*{
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(31, 31, 31);
    background: linear-gradient(90deg, rgba(31, 31, 31, 1) 25%, rgba(7, 0, 13, 1) 100%);
    font-family: 'Russo One', sans-serif;
    letter-spacing: 2px;
    overflow-x: hidden;
    font-size: 16px;
}


/* russo-one-regular - latin */

@font-face {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/russo-one-v14-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/russo-one-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/russo-one-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/russo-one-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/russo-one-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/russo-one-v14-latin-regular.svg#RussoOne') format('svg');
    /* Legacy iOS */
}

.overContainer {
    display: flex;
    justify-content: center;
}

.widthContainer {
    max-width: 1000px;
    width: 100%;
}

cursor_pointer {
    cursor: pointer;
}

.bg_aqua {
    background: aqua;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.f-dire-colum {
    flex-direction: column;
}

.a-item-center {
    align-items: center;
}

.p-relativ {
    position: relative;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  // background: rgba(7, 0, 13, 1);
  background: rgba(7, 0, 13, 0.9);
  // background: #5221e6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(82, 33, 230, 1);
  // background: rgba(7, 0, 13, 1);
  border-radius: 10px;
}

/* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #555;
// }



h2 {
  font-size: 36px;
}
