.container {
    overflow: hidden;
}

.hex {
    background: url("../../assets/img/Hexagon.svg") repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(90vh + 3857px);
    background-size: 500px;
    filter: blur(2px);
    @media screen and (max-width: 1100px) {
        height: calc(90vh + 3937px);
    }
    @media screen and (max-width: 986px) {
        height: calc(90vh + 3956px);
    }
    @media screen and (max-width: 899px) {
        height: calc(90vh + 4156px);
    }
    @media screen and (max-width: 885px) {
        height: calc(90vh + 4176px);
    }
    @media screen and (max-width: 830px) {
        height: calc(90vh + 4523px);
    }
    @media screen and (max-width: 787px) {
        height: calc(90vh + 4542px);
    }
    @media screen and (max-width: 773px) {
        height: calc(90vh + 4562px);
    }
    @media screen and (max-width: 633px) {
        height: calc(90vh + 4286px);
    }
    @media screen and (max-width: 613px) {
        height: calc(90vh + 4305px);
    }
    @media screen and (max-width: 587px) {
        height: calc(90vh + 4323px);
    }
    @media screen and (max-width: 535px) {
        height: calc(90vh + 4343px);
    }
    @media screen and (max-width: 523px) {
        height: calc(90vh + 4363px);
    }
    @media screen and (max-width: 500px) {
        height: calc(90vh + 4381px);
    }
    @media screen and (max-width: 450px) {
        height: calc(90vh + 4102px);
    }
    @media screen and (max-width: 442px) {
        height: calc(90vh + 4121px);
    }
    @media screen and (max-width: 436px) {
        height: calc(90vh + 4138px);
    }
    @media screen and (max-width: 428px) {
        height: calc(90vh + 4158px);
    }
    @media screen and (max-width: 408px) {
        height: calc(90vh + 4177px);
    }
    @media screen and (max-width: 399px) {
        height: calc(90vh + 4202px);
    }
    @media screen and (max-width: 369px) {
        height: calc(90vh + 4219px);
    }
    @media screen and (max-width: 364px) {
        height: calc(90vh + 4238px);
    }
    @media screen and (max-width: 357px) {
        height: calc(90vh + 4258px);
    }
    @media screen and (max-width: 342px) {
        height: calc(90vh + 4277px);
    }
    @media screen and (max-width: 326px) {
        height: calc(90vh + 4296px);
    }
    @media screen and (max-width: 316px) {
        height: calc(90vh + 4503px);
    }
    @media screen and (max-width: 301px) {
        height: calc(90vh + 4524px);
    }
    @media screen and (max-width: 291px) {
        height: calc(90vh + 4543px);
    }
    @media screen and (max-width: 279px) {
        height: calc(90vh + 4580px);
    }
}

.bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: linear-gradient(90deg, #335bf4 0%, #2ae9c9 100%);
    filter: blur(10px);
    z-index: -1;
    @media screen and (max-width: 500px) {
        height: 150px;
        width: 150px;
    }
}
