.container {
    overflow: hidden;
}

.hex {
    background: url("../../assets/img/Hexagon.svg") repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(90vh + 3857px);
    background-size: 500px;
    filter: blur(2px);
    @media screen and (max-width: 1100px) {
        height: calc(90vh + 3937px);
    }
}

.bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: linear-gradient(90deg, #335bf4 0%, #2ae9c9 100%);
    filter: blur(10px);
    z-index: -1;
    @media screen and (max-width: 500px) {
        height: 150px;
        width: 150px;
    }
}
